* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  animation: fadeInUp 3s ease forwards, colorChange 1.5s ease forwards;
}

body {
  background-color: black;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-image: url(https://i.pinimg.com/originals/2e/2a/60/2e2a605ab3c772b33c1c53734bd33891.jpg);
}

h1 {
  color: transparent;
  font-size: 24px; 
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes colorChange {
  from {
    color: transparent;
  }
  to {
    color: white; 
  }
}

::-webkit-scrollbar {
  display: none;
}

.sc-dkzDqf.kOnRrv {
  background-color: #BF55EC; 
  border-radius: 10px; 
  padding: 10px; 
  color: #ffffff; 
  font-size: 16px; 
}

.sc-hKMtZM.lbuGAq {
  background-color: #8A2BE2; 
  border: none; 
  color: #ffffff; 
  padding: 10px 20px; 
  border-radius: 10px; 
  font-size: 16px;
}

